{% from 'macros.j2' import nav_menu, nav_menu_link %}

<header>
    <nav id="navbar" class="navbar navbar-dark bg-dark p-3">
        <a href="" class="navbar-brand pb-2">
            <span class="fs-4 mx-2">
                🚀
            </span>
            <span>
                jschon.dev
            </span>
        </a>

        <ul class="nav nav-pills">
            {% call nav_menu('documentation', '/static/images/readthedocs-logo-light.svg') %}
                {{ nav_menu_link('stable', 'https://jschon.readthedocs.io/en/stable/') }}
                {{ nav_menu_link('dev', 'https://jschon.readthedocs.io/en/latest/') }}
            {% endcall %}

            {% call nav_menu('source', '/static/images/GitHub-Mark-Light-64px.png') %}
                {{ nav_menu_link('jschon', 'https://github.com/marksparkza/jschon') }}
                {{ nav_menu_link('jschon.dev', 'https://github.com/marksparkza/jschon.dev') }}
            {% endcall %}

            {% call nav_menu('theme', '/static/images/bootswatch-logo.svg') %}
                {% for theme in css.bootswatch %}
                    <button id="theme-btn-{{ theme }}" class="dropdown-item theme-btn"
                            onclick="setTheme('{{ theme }}')">{{ theme }}
                    </button>
                {% endfor %}
            {% endcall %}
        </ul>
    </nav>
</header>
