<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        jschon {{ version }}
    </title>

    {% include 'lib.html' %}
</head>
<body>

<div class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-dark bg-dark p-3">
        <a class="navbar-brand">
            <span class="fs-3">🛸</span> jschon.dev
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item dropdown" title="documentation">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                    <img src="/static/images/readthedocs-logo-light.svg" style="height: 30px">
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="https://jschon.readthedocs.io/en/stable/" target="_blank">stable</a>
                    <a class="dropdown-item" href="https://jschon.readthedocs.io/en/latest/" target="_blank">dev</a>
                </div>
            </li>
            <li class="nav-item dropdown" title="source code">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                    <img src="/static/images/GitHub-Mark-Light-64px.png" style="height: 30px">
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="https://github.com/marksparkza/jschon" target="_blank">jschon</a>
                    <a class="dropdown-item" href="https://github.com/marksparkza/jschon.dev" target="_blank">jschon.dev</a>
                </div>
            </li>
        </ul>
    </nav>

    <main class="flex-grow-1">
        <div id="input-panel" class="container-fluid d-flex flex-column border-bottom border-dark border-2"
             style="height: 45vh" onresize="schemaEditor.resize(); instanceEditor.resize();">
            <div class="d-flex flex-row mt-2 flex-grow-1">
                <div id="schema-panel" class="pb-4 mb-2 pe-2" style="width: 50%">
                    <label for="schema" class="form-label">JSON Schema</label>
                    <div id="schema" class="form-control rounded-0 w-100 h-100"></div>
                </div>
                <div class="pb-4 mb-2 ps-2 flex-grow-1">
                    <label for="instance" class="form-label">JSON Instance</label>
                    <div id="instance" class="form-control rounded-0 w-100 h-100"></div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <select id="metaschema-uri" class="form-control" onchange="set$schema();">
                        <option value="https://json-schema.org/draft/2019-09/schema">Meta-schema: 2019-09</option>
                        <option value="https://json-schema.org/draft/2020-12/schema" selected>Meta-schema: 2020-12</option>
                    </select>
                </div>
                <div class="col-6 d-grid">
                    <input id="evaluate" type="button" value="Evaluate" onclick="eval();"
                           class="btn btn-secondary">
                </div>
                <div class="col">
                    <select id="output-format" class="form-control">
                        <option value="flag">Output: Flag</option>
                        <option value="basic">Output: Basic</option>
                        <option value="detailed" selected>Output: Detailed</option>
                        <option value="verbose">Output: Verbose</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="m-3">
            <span id="result-caption" class="fs-5"></span>
            <p id="result-subcaption" class="text-muted d-none"></p>
        </div>
        <div class="mx-3 flex-grow-1">
            <pre id="result"></pre>
        </div>
    </main>

    <hr>
    <footer class="d-flex justify-content-center px-3 pb-3">
        <small class="text-muted">
            🛸 development website for
            <a class="text-decoration-none" href="https://github.com/marksparkza/jschon" target="_blank">
                jschon
            </a> 🛸
        </small>
    </footer>
</div>

<script src="/static/scripts/eval.js"></script>
<script src="/static/scripts/jump.js"></script>
<script src="/static/scripts/ui.js"></script>
<script>
    schemaEditor.setValue('{"$id": "https://jschon.dev/schema"}');
    instanceEditor.setValue('{}');
    set$schema();
</script>

</body>
</html>
