<!DOCTYPE html>
<html lang="en" style="font-size: 13px">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        jschon.dev
    </title>

    <link id="bootswatch-css"
          rel="stylesheet"
          crossorigin="anonymous">

    {% for name, lib in css.items() %}
        {% if name != 'bootswatch' %}
            <link rel="stylesheet"
                  href="{{ lib.href }}"
                  integrity="{{ lib.integrity }}"
                  crossorigin="anonymous">
        {% endif %}
    {% endfor %}
</head>
<body>
<div class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar bg-primary p-3" data-bs-theme="dark">
            <div class="container-fluid">
                <ul class="nav nav-underline">
                    {% for view, title in views.items() %}
                        <li class="nav-item">
                            <a class="nav-link {{ 'active' if view == bp.name }}"
                               href="{{ url_for(view + '.index') }}">{{ title }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <ul class="nav nav-pills">
                    {% from 'macros.j2' import nav_menu, nav_menu_link %}

                    {% call nav_menu('documentation', '/static/images/readthedocs.svg') %}
                        {{ nav_menu_link('stable', 'https://jschon.readthedocs.io/en/stable/') }}
                        {{ nav_menu_link('dev', 'https://jschon.readthedocs.io/en/latest/') }}
                    {% endcall %}

                    {% call nav_menu('source code', '/static/images/github.png') %}
                        {{ nav_menu_link('jschon', 'https://github.com/marksparkza/jschon') }}
                        {{ nav_menu_link('jschon.dev', 'https://github.com/marksparkza/jschon.dev') }}
                    {% endcall %}

                    {% call nav_menu('theme', '/static/images/bootswatch.svg') %}
                        {% for theme in css.bootswatch | sort %}
                            <button id="theme-btn-{{ theme }}" class="dropdown-item theme-btn"
                                    onclick="setTheme('{{ theme }}')">{{ theme }}
                            </button>
                        {% endfor %}
                    {% endcall %}
                </ul>
            </div>
        </nav>
    </header>

    <main class="flex-grow-1">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr class="mb-0 mt-2">
        <div class="d-flex justify-content-center p-3 bg-secondary">
            <small>
                ⚒ development website for
                <a class="text-decoration-none"
                   href="https://github.com/marksparkza/jschon" target="_blank">
                    jschon {{ api.version }}
                </a> ⚒
            </small>
        </div>
    </footer>
</div>

{% for lib in js.values() %}
    <script src="{{ lib.src }}"
            integrity="{{ lib.integrity }}"
            crossorigin="anonymous"></script>
{% endfor %}

{% block scripts %}
    <script>
        setTheme(localStorage.getItem('theme') || 'cerulean');

        function setTheme(theme) {
            $('.theme-btn').removeClass('active');
            const link = $('#bootswatch-css');
            {% for theme in css.bootswatch %}
                if (theme === '{{ theme }}') {
                    link.prop('integrity', '{{ css.bootswatch[theme].integrity }}');
                    link.prop('href', '{{ css.bootswatch[theme].href }}');
                    $('#theme-btn-{{ theme }}').addClass('active');
                    localStorage.setItem('theme', '{{ theme }}');
                }
            {% endfor %}
        }
    </script>
{% endblock %}

</body>
</html>
