<!DOCTYPE html>
<html lang="en" style="font-size: 13px">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        jschon.dev
    </title>

    <link id="bootswatch-css"
          rel="stylesheet"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="{{ css.jquery_ui.href }}"
          integrity="{{ css.jquery_ui.integrity }}"
          crossorigin="anonymous">
</head>
<body>
<div class="d-flex flex-column min-vh-100">
    {% include 'header.html' %}

    <main class="flex-grow-1">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'footer.html' %}
</div>

<script src="{{ js.bootstrap.src }}"
        integrity="{{ js.bootstrap.integrity }}"
        crossorigin="anonymous"></script>

<script src="{{ js.jquery.src }}"
        integrity="{{ js.jquery.integrity }}"
        crossorigin="anonymous"></script>

<script src="{{ js.jquery_ui.src }}"
        integrity="{{ js.jquery_ui.integrity }}"
        crossorigin="anonymous"></script>

<script src="{{ js.ace.src }}"
        integrity="{{ js.ace.integrity }}"
        crossorigin="anonymous"></script>

{% block scripts %}
    <script>
        setTheme(localStorage.getItem('theme') || 'cerulean');

        function setTheme(theme) {
            $('.theme-btn').removeClass('active');
            const link = $('#bootswatch-css');
            {% for theme in css.bootswatch %}
                if (theme === '{{ theme }}') {
                    link.prop('integrity', '{{ css.bootswatch[theme].integrity }}');
                    link.prop('href', '{{ css.bootswatch[theme].href }}');
                    $('#theme-btn-{{ theme }}').addClass('active');
                    localStorage.setItem('theme', '{{ theme }}');
                }
            {% endfor %}
        }
    </script>
{% endblock %}

</body>
</html>
